# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# Python environment
.python-version

# Logs
logs/
*.log

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# SQLite (optional if generated)
*.db
*.sqlite
*.sqlite3

# Uploaded files (if generated at runtime)
data/uploads/