# =========================
# Backend
# =========================
fastapi
uvicorn
pydantic
python-multipart

# =========================
# Frontend
# =========================
streamlit
requests

# =========================
# Local LLM
# =========================
ollama

# =========================
# Embeddings
# =========================
sentence-transformers
faiss-cpu

# =========================
# ML / Data
# =========================
numpy
pandas

# =========================
# PDF Processing
# =========================
pypdf

# =========================
# Environment
# =========================
python-dotenv